.LinkLine{
  -fx-stroke: '#f4b700';
  -fx-fill:transparent;
}
.NodePane{
  -fx-background-color:'#333333';
}
.label{
  -fx-text-fill: '#eeeeee';
}
.GUINode{
  -fx-border-color: '#f4b700';
  -fx-border-radius: 10;
  -fx-background-color:'#777777';
  -fx-background-radius: 10;
  -fx-padding: 10;
}

.textArea{
  -fx-background-color: '#825636';
    -fx-text-fill: '#ffd700';
    -fx-border-color: '#f4b700';
    -fx-border-radius: 60;
    -fx-background-radius: 60;
}

.button{
  -fx-background-color: '#825636';
  -fx-text-fill: '#ffd700';
  -fx-border-color: '#f4b700';
  -fx-border-radius: 60;
  -fx-background-radius: 60;
}

.buttonLeft{
    -fx-border-radius: 60 0 0 60;
    -fx-background-radius: 60 0 0 60;
}

.buttonRight{
    -fx-border-radius: 0 60 60 0;
    -fx-background-radius: 0 60 60 0;
}

.buttonTop{
    -fx-border-radius: 60 60 0 0;
    -fx-background-radius: 60 60 0 0;
}

.buttonBottom{
    -fx-border-radius: 0 0 60 60;
    -fx-background-radius: 0 0 60 60;
}

.buttonMid{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.split-pane-divider {
  -fx-background-color: '#f4b700';
}

.GUILink{
  -fx-stroke: '#f4b700';
  -fx-stroke-width: 2;
}
.ColorArrayLink{
  -fx-fill: yellow;
}
.NumberArrayLink{
  -fx-fill: grey;
}
.VectorArrayLink{
  -fx-fill: blue;
}
.VectorLink{
  -fx-fill: aqua;
}
.ImageLink{
  -fx-fill: green;
}
.ImageArrayLink{
  -fx-fill: '#00ff00';
}
.ColorLink{
  -fx-fill: '#ffffff';
}
.CommentPane{
  -fx-width : 300;
  -fx-height: 300;
}